# exclude all dot files except .git, appveyor and travis files
.*
!azure-pipelines.yml
!.clang-format
!.git*
!.appveyor*
!.travis.yml

[Xx]64/
[Bb]uild/
[Bb]uild*/

# exclude binaries and temporary files
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
bin*/
kotek-engine-deps-*/
intermediate/
intermediate_plugs/
out/
CMakeFiles/
*.aps
*.user
*.PVS-Studio.*
*.gch
*.so
*.a
*.o
*.cache
# exclude doxygen output
doc/doxygen/html/*
documentation/*
!documentation/Doxyfile
!documentation/git/
user_data/
engine/**/kotek_std_preprocessors.h