<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kotek.Packages.Boost.Vcpkg.Runtimes.Win11.Msvc.x64" version="1.84.0" targetFramework="native" />
  <package id="Kotek.Packages.Bullet3.Vcpkg.Runtimes.Win11.Msvc.x64" version="3.25.0" targetFramework="native" />
  <package id="Kotek.Packages.Cgltf.Vcpkg.Runtimes.Win11.Msvc.x64" version="1.13.0" targetFramework="native" /> 
  <package id="Kotek.Packages.Dav1d.Vcpkg.Runtimes.Win11.Msvc.x64" version="1.3.0" targetFramework="native" /> 
  <package id="Kotek.Packages.DirectXMath.Vcpkg.Runtimes.Win11.Msvc.x64" version="2024.2.14" targetFramework="native" /> 
  <package id="Kotek.Packages.Eigen3.Vcpkg.Runtimes.Win11.Msvc.x64" version="3.4.0" targetFramework="native" /> 
  <package id="Kotek.Packages.Entt.Vcpkg.Runtimes.Win11.Msvc.x64" version="3.13.1" targetFramework="native" /> 
  <package id="Kotek.Packages.Etl.Vcpkg.Runtimes.Win11.Msvc.x64" version="20.38.10" targetFramework="native" /> 
  <package id="Kotek.Packages.Glfw3.Vcpkg.Runtimes.Win11.Msvc.x64" version="3.3.9" targetFramework="native" /> 
  <package id="Kotek.Packages.Glm.Vcpkg.Runtimes.Win11.Msvc.x64" version="1.0.0" targetFramework="native" /> 
  <package id="Kotek.Packages.Ktx.Vcpkg.Runtimes.Win11.Msvc.x64" version="4.3.0" targetFramework="native" /> 
  <package id="Kotek.Packages.Mimalloc.Vcpkg.Runtimes.Win11.Msvc.x64 " version="2.1.2" targetFramework="native" /> 
  <package id="Kotek.Packages.Onetbb.Vcpkg.Runtimes.Win11.Msvc.x64" version="2021.13.0" targetFramework="native" /> 
  <package id="Kotek.Packages.Shaderc.Vcpkg.Runtimes.Win11.Msvc.x64" version="2023.7.0" targetFramework="native" /> 
  <package id="Kotek.Packages.Spdlog.Vcpkg.Runtimes.Win11.Msvc.x64" version="1.13.0" targetFramework="native" /> 
  <package id="Kotek.Packages.Spirv-reflect.Vcpkg.Runtimes.Win11.Msvc.x64 " version="1.3.275" targetFramework="native" /> 
  <package id="Kotek.Packages.Spirv-tools.Vcpkg.Runtimes.Win11.Msvc.x64" version="1.3.275" targetFramework="native" /> 
  <package id="Kotek.Packages.Tracy.Vcpkg.Runtimes.Win11.Msvc.x64" version="0.11.1" targetFramework="native" /> 
  <package id="Kotek.Packages.Utfcpp.Vcpkg.Runtimes.Win11.Msvc.x64" version="4.0.5" targetFramework="native" />
  <package id="Kotek.Packages.Wxwidgets.Vcpkg.Runtimes.Win11.Msvc.x64" version="3.2.4" targetFramework="native" />   
</packages>